scrips/__pycache__/
*.pyc
.venv/

#Data files can be ignored
data/*

!data/input
data/input/*
!data/input/blank.xlsx
!data/input/vooraanmeldingen_individueel_DEMO.csv

!data/output
data/output/*
!data/output/blank.xlsx

!data/metadata


