__pycache__/
*.pyc
.venv/
.vscode/

#Data files can be ignored
data/*

!data/input
data/input/*
!data/input/.gitkeep

!data/output
data/output/*
!data/output/.gitkeep

!data/metadata

!data/input_raw


